<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit <%= food.name %></h1>
    <form action="/foods/<%= food._id %>?_method=PUT" method="POST"></form>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= food.name %>" />

    <label for="isReadyToServe">Ready to Serve?</label>
    <input type="hidden" name="isReadyToServe" value="false" />
    <input type="checkbox" name="isReadyToServe" <%= food.isReadyToServe ? "checked" : "" %> />

    <button type="submit">Update Food</button> 

  </form>
  <div>
  <a href="/foods">Back to Foods</a>
</div>
</body>
</html>